body {
  margin: 0;
}

.wrapper {
  height: 100%;
}

.button-submit {
  background-color: lightsteelblue;
  font-size: 24px;
  display: block;
  margin: auto;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
}

.form {
  background-color: rgb(245, 204, 150);
  border: 2px solid black;
  padding: 30px;
  margin-top: 0;

  margin: 0;
  text-align: center;
  height: 15%;
}

.central-block {
  display: flex;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  flex-flow: row wrap;
  height: 76%;
  color: dimgray;
}

.nav {
  border: 2px solid black;
  flex-basis: 30%;
  flex-grow: 2;
  background-color: rgb(245, 225, 200);
}

.content {
  border: 2px solid black;
  flex-grow: 1;
  flex-basis: 45%;
  display: flex;
  flex-flow: column wrap;
}

.userpic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-image: url("https://99px.ru/sstorage/86/2016/02/mid_10613_4368.jpg");
  background-position: center center;
  background-size: 115%;
  margin-left: auto;
  margin-right: auto;
}

.userpic__image {
  width: 120%;
}

.more {
  text-align: center;
}

.comments {
  height: 100%;
  width: 40%;
}

.nav__list {
  list-style: none;
  margin: 0;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0;
}

.actual {
  background-color: burlywood;
}

.nav__link {
  text-decoration: none;
  color: dimgray;
  display: block;
  font-size: 24px;
  padding: 5px 0 5px 30px;
}

.nav__link:hover {
  background-color: rgb(197, 208, 223);
}

.form__name-of-cat,
.form__age-of-cat {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.form__gender-of-cats {
  font-size: 24px;
  margin-left: 20px;
  width: 154px;
  height: 39.09px;
  color: dimgray;
  border: none;
}

.comment__item {
  margin-left: 15px;
  background-color: #f8f8f8;
}

.comment__author {
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #e5e6e6;
}

.comment__text {
  padding-left: 15px;
  font-size: 14px;
  padding-bottom: 10px;
}
